@model Apoio.Models.Aposta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Aposta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevisaoDeGanho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevisaoDeGanho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vencedora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vencedora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apostador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apostador.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
